@page "/main"

<h1>Main</h1>

<button @onclick="OnPlayClick"></button>

@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else if (ticket != null)
{
    <h2>You win @ticket.Win uah.</h2>
    <table class="table">
        <tbody>
            <tr>
                <td><img src="@symbolsPathes[0][0]" /></td>
                <td><img src="@symbolsPathes[1][0]" /></td>
                <td><img src="@symbolsPathes[2][0]" /></td>
            </tr>
            <tr>
                <td><img src="@symbolsPathes[0][1]" /></td>
                <td><img src="@symbolsPathes[1][1]" /></td>
                <td><img src="@symbolsPathes[2][1]" /></td>
            </tr>
            <tr>
                <td><img src="@symbolsPathes[0][2]" /></td>
                <td><img src="@symbolsPathes[1][2]" /></td>
                <td><img src="@symbolsPathes[2][2]" /></td>
            </tr>
        </tbody>
    </table>
}